Importo Librerias

In [3]:
import pandas as pd
import numpy as np 
import ast

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel

Cargo Dataframes de trabajo

In [29]:
df_games = pd.read_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\ETL_dataset\steam_games_clean.parquet')
df_items = pd.read_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\ETL_dataset\user_items_cleaned.parquet')
df_reviews = pd.read_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\ETL_dataset\users_reviews_cleaned.parquet')

Funcion 1

+ def **developer( *`desarrollador` : str* )**:
    `Cantidad` de items y `porcentaje` de contenido Free por año según empresa desarrolladora. 
Ejemplo de retorno:

| Año  | Cantidad de Items | Contenido Free  |
|------|-------------------|------------------|
| 2023 | 50                | 27%              |
| 2022 | 45                | 25%              |
| xxxx | xx                | xx%              |

    dataset para la primera funcion

In [30]:
df_f1_dev = df_games.copy()
df_f1_dev = df_f1_dev.drop(['item_id','tags','specs','genres','name'], axis=1)
df_f1_dev.sort_values('developer')
df_f1_dev

       price             developer  year
0       9.99                 Valve  2000
1       9.99           Mark Healey  2005
2      99.99  Nevercenter Ltd. Co.  2012
3      19.99              Treyarch  2008
4      99.99               Pilgway  2012
...      ...                   ...   ...
32128   9.99         Nicalis, Inc.  2011
32129   6.99        Artech Studios  2010
32130   0.00           Grey Havens  2011
32131   0.00           Three Rings  2011
32132   1.99             Behaviour  2011

[32133 rows x 3 columns]

guardo el data frame para la funcion developer

In [32]:
1
# Los archivos se almacenan en local 
#df_f1_dev.to_csv(r'C:\Users\Usuario\Desktop\henrry\PI1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_1_dev.csv', index=False)
#df_f1_dev.to_json(r'C:\Users\Usuario\Desktop\henrry\PI1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_1_dev.json', orient='records', lines=True)
df_f1_dev.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_1_dev.parquet', index=False)

In [33]:
def developer(dev: str):
  df_dev = df_f1_dev.copy()
  df_dev = df_dev[df_dev['developer'] == dev]
    
    # Calculate the number of items per year
  items_per_year = df_dev.groupby('year').size()
    
    # Calculate the percentage of free content per year
  free_content_per_year = df_dev[df_dev['price'] == 0.0].groupby('year').size() / items_per_year.replace(0, np.nan) * 100
  free_content_per_year = free_content_per_year.fillna(0)  # Replace NaN values with 0
    
  data = []
  for year in items_per_year.index:
      data.append([year, items_per_year[year], free_content_per_year.get(year, 0)])  # Retrieve the value or default to 0
        
  data_return = pd.DataFrame(data, columns=['year', 'items', 'free_content'])
  return data_return

In [34]:
developer('Ubisoft Montreal')

    year  items  free_content
0   2005      2           0.0
1   2006      2           0.0
2   2008      4           0.0
3   2010      4           0.0
4   2011      2           0.0
5   2012      5           0.0
6   2013     13           0.0
7   2014      4           0.0
8   2015      2          50.0
9   2016     24           0.0
10  2017     24           0.0

Funcion 2

+ def **userdata( *`User_id` : str* )**:
    Debe devolver `cantidad` de dinero gastado por el usuario, el `porcentaje` de recomendación en base a reviews.recommend y `cantidad de items`.

    Ejemplo de retorno: {"Usuario X" : us213ndjss09sdf, "Dinero gastado": 200 USD, "% de recomendación": 20%, "cantidad de items": 5}

    datset para la segunda funcion

In [73]:
df_f2_games_price = df_games.copy()
df_f2_user_games = df_items.copy()
df_f2_user_reviews = df_reviews.copy()

df_f2_games_price = df_f2_games_price.drop(['developer','name','year','tags','specs','genres','name'], axis=1)

df_f2_user_games = df_f2_user_games.drop(['hours_game'], axis=1)

df_f2_user_reviews = df_f2_user_reviews.drop(['review','sentiment_analysis', 'helpful','item_id','year'], axis=1)

df_f2_user_reviews.sort_values('user_id')

            user_id  recommend
1595        --ace--       True
35487       --ace--       True
44015     --ionex--       True
768       --ionex--       True
24427  -2SV-vuLB-Kg       True
...             ...        ...
40679       zyr0n1c       True
12976       zyr0n1c       True
5210        zyr0n1c       True
2622        zyr0n1c       True
22465   zzoptimuszz       True

[45790 rows x 2 columns]

    guardamos dataset

In [74]:
#df_f2_user_reviews.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_user_rew.csv', index=False)
#df_f2_user_reviews.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_user_rew.json', orient='records', lines=True)
df_f2_user_reviews.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_user_rew.parquet', index=False)

#df_f2_user_games.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_user_games.csv', index=False)
#df_f2_user_games.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_user_games.json', orient='records', lines=True)
df_f2_user_games.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_user_games.parquet', index=False)

#df_f2_games_price.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_games_price.csv', index=False)
#df_f2_games_price.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_games_price.json', orient='records', lines=True)
df_f2_games_price.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_2_games_price.parquet', index=False)

In [59]:
def userdata(user_id: str):

  df_games_price = df_f2_games_price.copy()
  df_user_games = df_f2_user_games.copy()
  df_user_reviews = df_f2_user_reviews.copy()

  # Filtrar los juegos que posee el usuario en el DataFrame df_games_price
  df_user_games_price = df_games_price[df_games_price['item_id'].isin(df_user_games[df_user_games['user_id'] == user_id]['item_id'])]
    
  # Filtrar las reviews hechas por el usuario en el DataFrame df_reviews
  df_user_reviews = df_user_reviews[df_user_reviews['user_id'] == user_id]
    
  # Calcular el dinero total gastado por el usuario
  total_money_spent = df_user_games_price['price'].sum()
    
  # Calcular el porcentaje de recomendación basado en reviews.recommend
  percentage_recommendation = df_user_reviews['recommend'].mean() * 100 if not df_user_reviews.empty else 0
    
  # Obtener el número de items
  num_items = len(df_user_games_price)
  #return df_user_reviews['recommend'].mean()
  return {"Usuario": user_id, "Dinero gastado": total_money_spent, "% de recomendación": f"{percentage_recommendation}%", "Cantidad de items": num_items}

In [60]:
userdata('Themfgamer')

{'Usuario': 'Themfgamer',
 'Dinero gastado': 1525.91,
 '% de recomendación': '0.0%',
 'Cantidad de items': 113}

Funcion 3

+ def **UserForGenre( *`genero` : str* )**:
    Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento.

    Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf,
			     "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

    dataframes para la tercera funcion

In [71]:
df_f3_genres = df_games.copy()
df_f3_users = df_items.copy()
# Convertir arrays de NumPy en listas estándar y manejar listas nulas
df_f3_genres['genres'] = df_f3_genres['genres'].apply(lambda x: x.tolist() if isinstance(x, np.ndarray) else x if (isinstance(x, list) and x is not None) else [])

df_f3_genres.drop(['name', 'tags','specs','price','developer'], axis=1)

                                                  genres item_id  year
0                                     [Action, Strategy]      10  2000
1                                                [Indie]    1002  2005
2                                                     []  100400  2012
3                                    [Action, Adventure]   10090  2008
4                                                     []  100980  2012
...                                                  ...     ...   ...
32128                          [Indie, Casual, Strategy]   99700  2011
32129                                           [Casual]    9980  2010
32130  [Free to Play, Massively Multiplayer, Adventur...   99900  2011
32131  [Free to Play, Massively Multiplayer, Casual, ...   99910  2011
32132                                [Action, Adventure]    9992  2011

[32133 rows x 3 columns]

    creo los archivos para la funcion

In [72]:
#df_f3_genres.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_3_genres.csv', index=False)
#df_f3_genres.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_3_genres.json', orient='records', lines=True)
df_f3_genres.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_3_genres.parquet', index=False)

#df_f3_users.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_3_users.csv', index=False)
#df_f3_users.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_3_users.json', orient='records', lines=True)
df_f3_users.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_3_users.parquet', index=False)

In [69]:
def UserForGenre(genero: str):

  df_genres = df_f3_genres.copy()
  df_users = df_f3_users.copy()
  # Filtrar el DataFrame para dejar solo los juegos que contengan el género especificado
  df_genre = df_genres[df_genres['genres'].apply(lambda x: genero in x if isinstance(x, list) else False)]

  # Filtrar los usuarios que poseen los juegos del género específico
  df_user_aggregated = df_users[df_users['item_id'].isin(df_genre['item_id'])]
    
  # Merge para concatenar el año de df_genre a df_user_aggregated basado en el item_id
  df_user_aggregated = df_user_aggregated.merge(df_genre[['item_id', 'year']], on='item_id', how='left')
    
  # Calcular la suma de las horas jugadas por cada usuario a los juegos del género específico
  user_hours_per_game = df_user_aggregated.groupby('user_id')['hours_game'].sum()
    
  # Obtener al usuario con más horas jugadas
  user_most_hours_user_id = user_hours_per_game.idxmax()
    
  # Filtrar las horas jugadas por el usuario con más horas jugadas
  user_most_hours_df = df_user_aggregated[df_user_aggregated['user_id'] == user_most_hours_user_id]
    
  # Calcular la cantidad de horas jugadas por año del usuario con más horas jugadas considerando el año de publicación del juego
  hours_per_year = user_most_hours_df.groupby('year')['hours_game'].sum().reset_index()
    
  # Formatear el resultado en el formato especificado
  result = {
        "Usuario con más horas jugadas para " + genero: user_most_hours_user_id,
        "Horas jugadas": [{"Año": int(row['year']), "Horas": int(row['hours_game'])} for index, row in hours_per_year.iterrows()]
  }
    
  return result
    
# Suponiendo que tienes un DataFrame df_games y quieres filtrar por el género 'Action'
df_juegos_genero_action = UserForGenre('Action')

In [62]:
UserForGenre('Indie')

{'Usuario con más horas jugadas para Indie': 'REBAS_AS_F-T',
 'Horas jugadas': [{'Año': 2001, 'Horas': 0},
  {'Año': 2003, 'Horas': 31},
  {'Año': 2005, 'Horas': 36},
  {'Año': 2006, 'Horas': 27},
  {'Año': 2007, 'Horas': 17},
  {'Año': 2008, 'Horas': 22},
  {'Año': 2009, 'Horas': 483},
  {'Año': 2010, 'Horas': 361},
  {'Año': 2011, 'Horas': 1810},
  {'Año': 2012, 'Horas': 2619},
  {'Año': 2013, 'Horas': 3361},
  {'Año': 2014, 'Horas': 6021},
  {'Año': 2015, 'Horas': 13057},
  {'Año': 2016, 'Horas': 14530},
  {'Año': 2017, 'Horas': 564}]}

Funcion 4

+ def **best_developer_year( *`año` : int* )**:
   Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)
  
    Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

     dataframe para la cuarta funcion

In [69]:
df_f4_reviewed_games = df_games.copy()
df_f4_rv = df_reviews.copy()

df_f4_rv.drop(['review', 'helpful','user_id'], axis=1)
df_f4_reviewed_games.drop(['genres','name','year','tags','specs','price','name'], axis=1)

      item_id             developer
0          10                 Valve
1        1002           Mark Healey
2      100400  Nevercenter Ltd. Co.
3       10090              Treyarch
4      100980               Pilgway
...       ...                   ...
32128   99700         Nicalis, Inc.
32129    9980        Artech Studios
32130   99900           Grey Havens
32131   99910           Three Rings
32132    9992             Behaviour

[32133 rows x 2 columns]

    guardamos los archivos

In [70]:
#df_f4_rv.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_4_rv.csv', index=False)
#df_f4_rv.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_4_rv.json', orient='records', lines=True)
df_f4_rv.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_4_rv.parquet', index=False)

#df_f4_reviewed_games.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_4_reviewed_g.csv', index=False)
#df_f4_reviewed_games.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_4_reviewed_g.json', orient='records', lines=True)
df_f4_reviewed_games.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_4_reviewed_g.parquet', index=False)

In [67]:
def best_developer_year(year: int):
  df_reviewed_games = df_f4_reviewed_games.copy()
  df_rv = df_f4_rv.copy()
  df_reviewed_games = df_reviewed_games[df_reviewed_games['year'] == year]  # Filtrar por el año dado
  df_reviewed_games = df_reviewed_games.merge(df_rv, on='item_id')  # Combinar con el DataFrame de reviews
    
  # Filtrar por reviews positivas (recommend = True y sentiment_analysis = 2)
  positive_reviews = df_reviewed_games[(df_reviewed_games['recommend'] == True) & (df_reviewed_games['sentiment_analysis'] == 2)]
    
  # Contar los juegos más recomendados por usuarios por desarrollador
  top_developers = positive_reviews.groupby('developer').size().nlargest(3)
    
    # Crear el formato de retorno
  resultado = [{"Puesto 1" : top_developers.index[0]}, {"Puesto 2" : top_developers.index[1]}, {"Puesto 3" : top_developers.index[2]}]
    
  return resultado

In [70]:
best_developer_year(2001)

[{'Puesto 1': 'Firaxis Games'},
 {'Puesto 2': 'Gearbox Software'},
 {'Puesto 3': 'Ensemble Studios'}]

Funcion 5

+ def **developer_reviews_analysis( *`desarrolladora` : str* )**:
    Según el desarrollador, se devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total 
    de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor positivo o negativo. 

    Ejemplo de retorno: {'Valve' : [Negative = 182, Positive = 278]}

    creamos dataframe para la quinta funcion

In [67]:
df_f5_devs = df_games.copy()
df_f5_reviewed_games = df_reviews.copy()
df_f5_devs.drop(['genres','name','tags','specs','price','year'], axis=1)

df_f5_reviewed_games.drop(['user_id', 'helpful','review','year'], axis=1)

      item_id  recommend  sentiment_analysis
0          10       True                   2
1          10       True                   1
2          10       True                   2
3          10       True                   2
4          10       True                   2
...       ...        ...                 ...
45785   99900       True                   2
45786   99900       True                   2
45787   99910       True                   2
45788   99910      False                   0
45789   99910       True                   2

[45790 rows x 3 columns]

    guardamos los dataframes para las funciones

In [68]:
#df_f5_devs.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_5_devs.csv', index=False)
#df_f5_devs.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_5_devs.json', orient='records', lines=True)
df_f5_devs.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_5_devs.parquet', index=False)

#df_f5_reviewed_games.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_5_reviewd_games.csv', index=False)
#df_f5_reviewed_games.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_5_reviewd_games.json', orient='records', lines=True)
df_f5_reviewed_games.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_5_reviewd_games.parquet', index=False)

In [39]:
def developer_reviews_analysis(desarrolladora: str):
  df_dev = df_f5_devs.copy()
  df_reviews = df_f5_reviewed_games.copy()
  df_dev = df_dev[df_dev['developer'] == desarrolladora]
  df_dev_reviews = df_reviews[df_reviews['item_id'].isin(df_dev['item_id'])]
    
  # Filtrar las reviews con análisis de sentimiento positivo y negativo
  positive_reviews = df_dev_reviews[df_dev_reviews['sentiment_analysis'] == 2]
  negative_reviews = df_dev_reviews[df_dev_reviews['sentiment_analysis'] == 1]
    
  # Contar el total de reviews positivas y negativas por desarrollador
  positive_count = len(positive_reviews)
  negative_count = len(negative_reviews)
    
  return {desarrolladora: ['Negative = ' + str(negative_count), 'Positive = ' + str(positive_count)]}

In [40]:
developer_reviews_analysis('Gearbox Software')

{'Gearbox Software': ['Negative = 8', 'Positive = 54']}

    funcion de recomendacion

En la primera, el modelo deberá tener una relación ítem-ítem, esto es se toma un item, en base a que tan similar esa ese ítem al resto, se recomiendan similares. Aquí el input es un juego y el output es una lista de juegos recomendados, para ello recomendamos aplicar la similitud del coseno.

creo el dataframe para la funcion de recomendacion

In [66]:
df_f6_recomendaciones = df_games.copy()
df_f6_recomendaciones = df_f6_recomendaciones.drop(['tags','specs','price','year','developer'], axis=1)
df_f6_recomendaciones['genres']= df_f6_recomendaciones['genres'].astype(str)

In [65]:
#df_f6_recomendaciones.to_csv(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_6_recomendations.csv', index=False)
#df_f6_recomendaciones.to_json(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_6_recomendations.json', orient='records', lines=True)
df_f6_recomendaciones.to_parquet(r'D:\projectos\programacion\henrry\bootcamp\proyecto_individuales\1\p1\Proyecto_Individual_N-1_kalchichen_lucas\dataset\Funcciones_dataset\fun_6_recomendations.parquet', index=False)

In [60]:
def recommendar(id_item:str):   

    df_recomendacion = df_f6_recomendaciones.copy()
    
    vectorizar = TfidfVectorizer(min_df=10, max_df=0.5, ngram_range=(1,2), stop_words='english')
    
    tfidf_matriz = vectorizar.fit_transform(df_recomendacion['genres'])

    cosineSim = linear_kernel(tfidf_matriz[:1000,:])

    indices = pd.Series(df_recomendacion.index, index=df_recomendacion['item_id']).drop_duplicates()

    idx = indices[id_item]

    simScores = list(enumerate(cosineSim[idx]))

    simScores = sorted(simScores, key=lambda x: x[1], reverse=True)

    simScores = simScores[1:6]

    itemIndices = [i[0] for i in simScores]

    result=df_recomendacion['name'].iloc[itemIndices].values
    
    return dict(enumerate(result.flatten(), 1))

In [75]:
recommendar(10)

C:\Users\lucas\AppData\Local\Temp\ipykernel_16252\778785343.py:13: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  idx = indices[id_item]

{1: 'Crysis 2 - Maximum Edition',
 2: 'Prototype 2',
 3: 'Grand Theft Auto: San Andreas',
 4: "Unreal Tournament 2004: Editor's Choice Edition",
 5: "Assassin's Creed™: Director's Cut Edition"}